<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- browser theming --}}
    <!-- I'm not sure why, but this isn't working in Vivaldi right now. Let me know if you know why -->
    <meta name="theme-color" content="#1791FF">

    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#1791FF">

    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {{!-- load third party stuff before this! --}}
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">

    <meta name="description" content="Coding, music, whatever. I make stuff!">
    <meta name="rating" content="General">

    <link rel="stylesheet" href="main.css">

    <title>morerunes.com</title>
</head>
<body>
<div class="page-body">
    {{{body}}}
</div>
</body>
</html>
