<div class="WIP-blurb">
    Hey there! This site is still a WIP, but I have been working on a cool continuous integration process
    so I'll keep you posted. In the <span class="memes">meme time</span> I'll try to get some kind of rss feed or something
    going so you can subscribe if you like.

    It's pretty easy to update stuff on my website using Git.
</div>
