body {

}

.page-body {
    padding: 16px;
}

.memes {
    color: aquamarine;
    font-family: monospace;
    font-style: oblique;
    font-weight: 600;
    font-variant: small-caps;
    font-size: larger;
}
